<!DOCTYPE html>
<html lang="en">
    {% load paginate_tags %}
    {% paginate article_list 8 %}
    {% include "header.html" %}

<body id="blog">
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
<div>最新文章</div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
    <div class="am-u-md-8 am-u-sm-12">
        <article class="am-g blog-entry-article">
            <div class="am-u-md-10 am-u-sm-12 blog-entry-text">
                    {% for article in article_list %}
                        <h3><a href="{{ article.pk }}">{{ article.title }}</a></h3>
                        <span class=".am-icon-fw am-icon-clock-o" style="color:#777777; font-size:14px;"> {{ article.pub_date |date:"Y/n/d/ H:i" }} &nbsp; </span>
                        <span class=".am-icon-fw am-icon-user" style="color:#777777;"> {{ article.author }}  &nbsp; </span>
                        <span class=".am-icon-fw am-icon-eye" style="color:#777777;"> {{ article.times }} &nbsp;</span>
                        {% for tag in article.tags.all %}
                            <span class=".am-icon-fw am-icon-archive " style="color: #777777;"> {{ tag.name }}</span>
                        {% endfor %}
                        <p class="blog-content-show" style="font-size:15px;">{{ article.content | truncatechars:70 }}</p>
                        <hr>
                    {% endfor %}
            </div>
        </article>
        {% include 'blog/pagination.html' %}
    </div>
    {% include "footer.html" %}
</div>
</body>
</html>